.header-wrapper {
  background: #0B060C;
  height: 100%;
  padding-bottom: 2vh;
}

.header-wrapper img {
  width: 100%;
}

.header-wrapper a {
  color: white;
  text-decoration: none;
}

.header-wrapper a:hover {
  color: #EB88F6;
  text-decoration: underline;
}
