.header-wrapper img {
  width: 100%;
}

.header-wrapper {
  background: #0B060C;
  height: 47vh;
}

.header-wrapper a {
  color: white;
  text-decoration: none;

}

.header-wrapper a:hover {
  color: #EB88F6;
  text-decoration: underline;
  font-size: 20px;
}
