body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background: linear-gradient(black, purple);
  height: 100%;
  text-align: center;
  background-size: 100%;
  background-attachment: fixed;
  background-position: top;
  color: white;
}

html {
  height: 100%;
}
